@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-image: url('/bg-light.png'); /* Light theme default */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background 0.5s ease-in-out;
  }

  body.dark {
    background-image: url('/bg-dark.png'); /* Dark theme */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'K2D', sans-serif;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
  }

  ul, ol {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
